<template>
  <div class="checkout-preview">
    <h3>You have selected:</h3>
    <div class="checkout-preview-row">
      <div class="class-pack-credit">{{ classPack.total_credit}}</div>
      <div class="checkout-preview-left">
        <div class="class-pack-name">{{ classPack.pack_name }}</div>
        <div v-if="tier === 'newbie'" class="class-pack-newbie-note">{{ classPack.newbie_note }}</div>
      </div>
      <div class="checkout-preview-right">{{classPack.pack_price | toCurrency}}</div>
    </div>
    <div class="checkout-promo-field" v-if="promoBox">
      <md-field>
        <label>Promo code</label>
        <md-input v-model="promoCode"></md-input>
      </md-field>
      <md-button class="md-raised" @click="onPromoApply">Apply</md-button>
    </div>
    <hr />
    <div class="checkout-footer">
      <div class="checkout-footer-row">
        <div class="checkout-footer-left">Subtotal</div>
        <div class="checkout-footer-right">{{subTotal | toCurrency}}</div>
      </div>
      <div v-if="promo.id" class="checkout-footer-row">
        <div class="checkout-footer-left">Discount</div>
        <div class="checkout-footer-right">{{discount | toCurrency}}</div>
      </div>
      <div class="checkout-footer-row">
        <div class="checkout-footer-left">GST</div>
        <div class="checkout-footer-right">{{gst | toCurrency}}</div>
      </div>
      <div class="checkout-footer-row">
        <div class="checkout-footer-left">Grand Total</div>
        <div class="checkout-footer-right">{{grandTotal | toCurrency}}</div>
      </div>
      <div class="checkout-footer-row"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['classPack', 'tier', 'promoBox', "promo"],
  data() {
    return {
      promoCode: '',
    };
  },
  computed: {
    subTotal() {
      return this.classPack.pack_price;
    },
    gst() {
      return ((this.subTotal - this.discount) * 7) / 100;
    },
    discount() {
        return this.promo.id ? (this.subTotal * this.promo.percent) / 100 : 0;
    },
    grandTotal() {
      return parseFloat(this.subTotal) - parseFloat(this.discount) + parseFloat(this.gst);
    },
  },
  methods: {
    onPromoApply() {
      this.$store.dispatch('classPacks/applyPromo', this.promoCode);
    },
  },
};
</script>