<template>
  <div class="class-packs-container">
    <ClassPack v-for="pack in classPacks" v-bind:pack="pack" v-bind:key="pack.pack_id" />
  </div>
</template>

<script>
import ClassPack from './ClassPackComponent.vue';
import { mapGetters } from 'vuex';

export default {
  components: { ClassPack },
  computed: {
    ...mapGetters({
      classPacks: 'classPacks/getClassPacks',
    }),
  },
  mounted() {
    this.$store.dispatch('classPacks/retrievePaginated');
  },
};
</script>

<style>
.class-packs-container {
  background-color: #fff;
  margin: 0px auto;
  width: 70%;
  padding: 5px;
  border-top: 20px solid #1d1d1d;
  height: 730px;
}
</style>