<template>
  <div class="class-pack-item" @click="onSelect()">
    <div class="class-tag" v-if="pack.tag_name">{{ pack.tag_name }}</div>
    <h3>{{ pack.pack_name }}</h3>
    <div class="class-pack-credit">{{ pack.total_credit }}</div>
    <div class="class-pack-desc">{{ pack.pack_description }}</div>
    <div class="class-pack-price">{{ pack.pack_price}}</div>
    <div
      class="class-pack-sub-price"
      v-if="pack.pack_price != pack.estimate_price"
    >{{ pack.estimate_price}} per class!</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ['pack'],
  methods: {
    onSelect() {
      this.$store.dispatch('classPacks/selectClassPack', this.pack);
      this.$router.push({ path: 'checkout' });
    },
  },
};
</script>

<style>
.class-pack-item {
  padding: 15px;
  display: block;
  float: left;
  position: relative;
  width: 33.3%;
  height: 350px;
  border: 1px solid #1d1d1d;
  background-color: #fff;
  cursor: pointer;
}
.class-pack-item .class-tag {
  text-align: center;
  width: 80px;
  left: 10px;
  position: absolute;
  background-color: #000;
  color: #fff;
}
.class-pack-item h3 {
  margin-top: 30px;
}
.class-pack-credit {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #207cca;
  border-radius: 50%;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.class-pack-item .class-pack-desc {
  text-align: center;
  margin-top: 30px;
}
.class-pack-item .class-pack-price {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 14pt;
}
.class-pack-item .class-pack-sub-price {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 10pt;
}
</style>