<template>
  <Login v-if="!user" />
  <ClassPacks v-else />
</template>

<script>
import Login from './LoginComponent.vue';
import ClassPacks from './ClassPacksComponent.vue';
import { mapGetters } from 'vuex';

export default {
  components: { Login, ClassPacks },
  computed: {
    ...mapGetters({
      user: 'user/getLoginUser',
    }),
  },
};
</script>