<template>
  <div class="login-form">
    <h2>Member Login</h2>
    <md-field>
      <label>Email</label>
      <md-input v-model="email"></md-input>
    </md-field>
    <md-field>
      <label>Password</label>
      <md-input v-model="password" type="password"></md-input>
    </md-field>
    <div class="login-button-container">
      <md-button class="md-raised" @click="onLogin">Login</md-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    onLogin() {
      this.$store.dispatch('user/doLogin', {
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style>
.login-form {
  width: 40%;
  left: calc(50% - 20%);
  padding: 40px 30px;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 20%);
}

.login-form h2 {
  text-align: center;
}

.login-button-container {
  text-align: center;
}

.login-form .md-button {
  margin: 0 auto;
}
</style>