<template>
  <div class="checkout-container">
    <h1>Thank You! <br/> You Have Successfully Purchased A Class Pack!</h1>
    <CheckoutPreviewComponent :classPack="classPack" :tier="tier" :promo="promo" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CheckoutPreviewComponent from './CheckoutPreviewComponent';

export default {
  components: { CheckoutPreviewComponent },
  computed: {
    ...mapGetters({
      classPack: 'classPacks/getSelectedClassPack',
      tier: 'classPacks/getTier',
      promo: 'classPacks/getPromo',
    }),
  },
  methods: {
    onPay() {
      this.$store.dispatch('classPacks/doOrder');
    },
  },
};
</script>

<style>
.checkout-container {
  background-color: #fff;
  margin: 0px auto;
  width: 70%;
  padding: 15px;
  border-top: 20px solid #1d1d1d;
  height: 730px;
}
.checkout-container h1 {
  text-transform: uppercase;
  line-height: 30px;
}
hr {
  margin-top: 20px;
}
.checkout-container .checkout-preview {
  border: 1px solid #207cca;
  padding: 20px;
}
.checkout-container .checkout-preview h3 {
  margin-top: 0;
}
.checkout-container .checkout-preview-row {
  padding-left: 70px;
  position: relative;
  height: 50px;
}
.checkout-container .checkout-preview-row .checkout-preview-left {
  float: left;
  text-align: left;
}
.checkout-container .checkout-preview-row .checkout-preview-right {
  float: right;
  text-align: right;
}
.checkout-container .checkout-footer-row {
  font-size: 10pt;
  clear: both;
}
.checkout-container .checkout-footer-row .checkout-footer-left {
  float: left;
  text-align: left;
}
.checkout-container .checkout-footer-row .checkout-footer-right {
  float: right;
  text-align: right;
}
.checkout-container .class-pack-credit {
  margin: 0;
  position: absolute;
  left: 2px;
  top: 0px;
}
.checkout-container .checkout-promo-field {
  clear: both;
}
.checkout-container .checkout-promo-field .md-field {
  width: 30%;
  display: inline-block;
}
.checkout-container .md-button {
  display: inline-block;
  vertical-align: middle;
}
.checkout-buttons {
  margin-top: 20px;
}
.checkout-buttons a {
  float: left;
}
.checkout-buttons .md-button {
  float: right;
}
</style>