<template>
  <router-view></router-view>
</template>

<style>
body, html {
  min-height: 100%;
  margin: 0;
  position: relative;
  font-family: Roboto, Noto Sans, sans-serif;
  background-color: #1d1d1d;
}
</style>